*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f4f4f4;
  height: auto;
  /* font-family: montserrat monospace; */
}
a{
  text-decoration: none;
}
nav .logo2{
  display: none;
}
/* nav */
.navigation-container{
  height: 85px;
  position: relative;
  z-index: 1;
  background-color:white ;
}
nav{
  background-color: white;
  overflow: hidden;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: inherit;
}
nav.active{
  width: 100%;
  transition:0.2s linear ;
  box-shadow: 1px 1px 10px gainsboro;
}
nav .logo1{
  width: 15%;
  padding: 5px 5px 5px 100px;
}
nav .logo1 .logo{
 height: 75px;
 width:75px;
}
nav .navigation{
  padding: 10px;
  transition: 0.2s;
}
nav .navigation ul{
  display: flex;
  float: right;
  margin-top: 20px;
  list-style-type: none;
  justify-content: space-between;
}
nav .navigation ul li a{
  justify-content: space-between;
  text-decoration: none;
  padding: 11px 11px;

}
nav .navigation ul li a:hover{
  color: #2A61B0;
}
.navbar__link {
  margin: 1em;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .15em;
  text-indent: .2em;
  color: #197FC8;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

.navbar__link--active {
  border-bottom: 2px solid #2A61B0;
  color: #2A61B0;
  transition: border-bottom .5s ease-in-out;
}
/* footer */
.footer{
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 10px;
}
.f-container{
  width: 100%;
}
.f-container .part1{
  display: flex;
  background-color: ghostwhite;
  padding: 20px;
}
.f-container .part1 .div1,
.f-container .part1 .div2{
  width: 25%;
  flex-flow: row;
}
.f-container .part1 .div1 .heading,
.f-container .part1 .div2 .heading{
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  color: rgb(80, 80, 80);
}
.f-container .part1 .div1 .brand-tag{
  padding:5px ;
  letter-spacing: 0.3px;
  font-size: 14px;
  font-weight: 500; 
  color:  rgb(109, 109, 109);
}
.f-container .part1 .div2 .details{
  padding: 5px;
}
.f-container .part1 .div2 .details>h4{
  font-size: 17px;
}
.f-container .part1 .div2 .details>p{
  padding-top: 5px;
  font-size: 14px;
  color: rgb(109, 109, 109);
}
.f-container .part1 .div2 .details .con-link{
  color: #2A61B0;
  font-size: 14px;
}
.div3{
  width: 50%;
}
.download{
  overflow: hidden;
  width: 90%;
  margin-right:5% ;
  border-radius: 10px;
  background-color: white;
  box-shadow:  10px 10px 20px #bebebe,
             -20px -20px 20px #ffffff;
}
.download .dow-container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.download .dow-container .download-btn{
  width: 60%;
  padding: 5px;
  flex-flow: row;
}
.download .dow-container .download-btn .download-name{
  text-align: center;
  font-size: 22px;
}
.download .dow-container .download-btn .btns{
  display: flex;
  margin-top: 10px;
}
.download .dow-container .download-btn a{
  width: 50%;
}
.download .dow-container .download-btn a .google,
.download .dow-container .download-btn a .apple{
  display: flex;
  background-color:black;
  margin: 5px;
  padding: 5px;
  height: 35px;
  border-radius: 5px;
}
.download .dow-container .download-btn a .google .btn-name,
.download .dow-container .download-btn a .apple .btn-name{
  margin: 0;
  height: 10px;
}
.download .dow-container .download-btn a .google .btn-name .btn-name-get,
.download .dow-container .download-btn a .apple .btn-name .btn-name-on{
  font-size: 10px;
  color: white;
}
.download .dow-container .download-btn a .google .btn-name .btn-name-google,
.download .dow-container .download-btn a .apple .btn-name .btn-name-apple{
  text-decoration: none;
  font-size: 20px;
  color: white;
  line-height: 12px;
}
.download .dow-container .download-btn .btns a .google:hover,
.download .dow-container .download-btn .btns a .apple:hover{
  box-shadow:  7px 7px 14px #dfdede,
  -7px -7px 10px #fffafa;
}
.download .dow-container .download-btn .download-name{
  padding: 35px 5px 5px 0px;
  line-height:25px;
  color: #1a1c20;
  font-weight: 500;
}
.download .dow-container .download-btn .google>img,
.download .dow-container .download-btn .apple>img{
 padding-top: 5px;
 width: 30px;
}
.download .dow-container .mobile-img{
  padding: 5px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download .dow-container .mobile-img>img{
  width: 150px;
  height: 250px;
}
.f-container .part2{
  display: flex;
  background-color: rgb(39, 35, 35);
  padding: 20px;
}
.f-container .part2 .division1{
  display: flex;
  width: 50%;
}
.f-container .part2 .division1 .vl{
  margin-top: 5px;
  margin: 5px 7px;
  border-right: 2px solid rgb(186, 179, 179);
  height: 15px;
}
.f-container .part2 .division1 div a{
  color: white;
  text-decoration: none;
}
.f-container .part2 .division2 {
  width: 45%;
}
.f-container .part2 .division2 .copyright{
  padding: 5px;
  float: right;
}
.f-container .part2 .division2 .copyright>h4,
.f-container .part2 .division2 .copyright>h3{
  padding: 1px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: white;
}
.f-container .part2 .division2 .copyright h4>a{
  color: white;
}
.fo-icon{
  color:#2A61B0;
  padding-right: 5px;
}
.f-container .part1 .div2 .details a{
  color: gray;
  font-weight: 500;
}
.hide{
  display: none;
}
.download .dow-container .download-btn .apple-btn:hover + .hide{
  display: block;
  position: absolute;
  background-color: black;
  color: #e1dcdc;
  padding: 5px 10px;
  border-radius: 5px ;
  margin-left: 200px;
  margin-top: -30px;
  opacity: 0.8;
  font-size: 14px;
}

/* home */
.home{
  width: 100%;
  display: flex;
  flex-flow: row;
  background-color: white;
  position: relative; 
  overflow: hidden;
}
.home-container{
  margin-top: 40px;
  padding: 80px 30px 0px 0px;
}
.home-container .c-name{
  padding: 0px 25px 25px 150px;
}
.home-container .c-name>div{
  font-size:100px;
  color: #0D96DA;
  font-weight: 700;
  text-shadow: 1px 1px 5px rgb(136, 191, 250);
}
.home-container .c-desc{
  padding: 8px 5px 5px 50px;
}
.home-container .c-desc div{
  font-size: 25px;
  color: #0D96DA;
  font-weight: 500;
  text-shadow: 1px 1px 5px rgb(136, 191, 250);
}
.back-img1{
  right: 0;
  position: absolute;
  bottom: 0;
}
/* about */
.about-main{
  width: 100%;
  position: relative;
  background-color: white;
  z-index: 0;
}
.pngimgs{
  z-index: 0;
  display: flex;
  flex-flow: row;
  position: absolute;
  top: 0;
  width: 100%;
  height:52.2%;
}
.pngimgs .png-img{
  position: absolute;
  bottom: 0;
  left:0;
}
.pngimgs .png{
  position: absolute;
  right: 0;
  bottom: 0;
} 
.about{
  position: relative;
  /* overflow: scroll; */
  width: 100%;
  z-index: 1;
}
.about-container{
  padding-bottom: 100px;
  padding-top: 20px;
  width: 50%;
  margin-left: 5%;
}
.ab-name{
  padding: 40px 0px 0px 0px ;
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 30px;
  color: rgb(38, 38, 38);
}
.about-container .ab .hr{
  width: 10%;
}
.about-container .ab .hr hr{
  width: 100%;
  border: 1px solid #00AFEF;
  transition: width 1s;
}
.about-container:hover .ab .hr hr{
  width: 130px;
}

.ab-para{
  font-family:'Times New Roman', Times, serif;
  position: relative;
  padding: 40px 0 40px 0;
  z-index: 1;
}
.ab-para .p{
  text-indent: 50px;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-size: 16px;
}
.ab-para .readmore{
  padding-top: 10px;
  color: #0D96DA;
  font-size: 17px;
  cursor: pointer;
}
.about-container.added{
  /* z-index: 2; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  width: 100%;
  height: 100vh;
  background-color: rgba(61, 68, 61, 0.5);
}
.about-container.added .ab{
  width: 60%;
  margin-left: 20%;
  background-color: white;
  opacity: 1;
  border-radius: 2px;
  box-shadow: 1px 1px 5px gray;
}
.about-container.added .ab .ab-name{
  text-align: center;
}
.added .ab .hr{
  margin-left:42% ;
}
.added .ab .hr>hr{
  transform: scaleX(0);  
  transition: transform 1s ease-in-out;
}
.added .ab:hover .hr>hr{
  transform: scaleX(1);
}
.added .ab .ab-para{
  padding: 30px;
}
/* about carousel */
.about-down{
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding: 30px 20px 20px 20px;
  background-color:#edf4f8;
  margin-top: 145px;
}
.about-down-container{
  width:80%;
  margin-left: 10%;  
  z-index: 0;
  overflow: hidden;
}
.ab-head-name{
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 10px;
}
.about-down-container .owl-carousel{
  overflow: hidden;
  z-index: 0;
  width: 100%;
}
.about-down-container .owl-carousel .owl-stage-outer{
  width: 100%;
}
.about-down-container .owl-carousel .owl-stage-outer .owl-stage{
  padding-bottom: 20px;
   height: 350px;
}
.about-down-container .owl-carousel .owl-stage-outer .owl-stage .owl-item{
  transition: 0.5s linear;
  padding-top: 20px;
}
.about-down-container .owl-carousel .owl-stage-outer .owl-stage .owl-item .item{
  height: inherit;
  width: 90%;
  margin-left: 5%;
  background-color: white;
  border-radius: 5px;
}
.about-down-container .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .img{
  padding: 10px;
}
.about-down-container .owl-carousel .owl-stage-outer .owl-stage .owl-item .item>.img img{
  height: 220px;
  transition: 0.2s linear;
}
.about-down-container .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .i-name{
  text-align: center;
  padding-bottom: 5px;
}
.about-down-container .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .i-name p{
  font-size: 15px;
  font-weight: 500;
}
.center{
  height: 350px;
  background-color: white;
  box-shadow: 5px 5px 10px gainsboro;
  border-radius: 5px;
  /* padding-top: 20px; */
}
.about-down-container .owl-carousel .owl-stage-outer .owl-stage .center .item>.img img{
  transform: scale(1.1,1.1);
}
.about-down-container .owl-carousel .owl-stage-outer .owl-stage .center .item>.certi img{
  margin-top:0px;
  padding-top: 0px;
  top:0;
  height:280px;
}
.about-down-container .owl-carousel .owl-stage-outer .owl-stage .center .item .i-name p{
  padding-top: 15px;
}
.about-down-container .owl-carousel .owl-stage-outer .owl-stage .center .item .certi>p{
  padding-top: 10px;
}
/* services */
.services{
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: white;
}
.services-container{
  padding: 10px;
}
.services-container .ser-head{
  text-align: center;
  padding:5px ;
  margin-top: 10px;
}
.services-container .ser-head .ser-name{
  padding:5px ;
}
.services-container .ser-head .hr{
  width: 30%;
  margin-left: 35%;
}
.services-container .ser-head .hr>hr{
  width: 100%;
  border: 1px solid #00AFEF;
  transform: scaleX(0);  
  transition: transform 1s ease-in-out;
}
.services-container:hover .ser-head .hr>hr{
  transform: scaleX(1);  
}
.services-container .ser-head .ser-par>p{
  font-size: 15px;
  color: #1587CE;
}
.services-container .ser-head .ser-name>h3{
  font-size: 35px;
  color: black;
  letter-spacing: 0.5px;
  padding-bottom: 5px;
}
.services-container .ser-body{
  width: 70%;
  margin-top: 10px;
  margin-left: 15%;
}
.services-container .ser-body .ser-card1,
.services-container .ser-body .ser-card2{
  background-color: #ffffff;
  box-shadow: 1px 1px 10px rgb(198, 237, 248);
  transition: 0.5s ;
}
.services-container .ser-body .ser-card1{
  padding: 10px;
  margin: 20px;
  border-radius: 100px;
}
.services-container .ser-body .ser-card2{
  padding: 10px;
  margin: 20px;
  border-radius: 100px;
}
.services-container .ser-body .ser-card1 .ser-icon{
  float: left;
  background-color: rgb(253, 254, 255);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgb(203, 230, 250);
}
.services-container .ser-body .ser-card2 .ser-icon{
  float: right;
  background-color: rgb(253, 254, 255);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgb(203, 230, 250);
}
.services-container .ser-body .ser-card1 .ser-icon a>.img{
  width: 170px;
  height: 170px;
  padding: 15px;
  border-radius:50%;
  transition: 0.3s;
}
.services-container .ser-body .ser-card2 .ser-icon a>.img{
  width: 170px;
  height: 170px;
  padding: 15px;
  border-radius:50%;
  transition: 0.3s;
}
.services-container .ser-body .ser-card1 .ser-desc{
  position: relative;
  height: 135px;
  width: 100%;
  color: black;
  padding-top: 65px;
}
.services-container .ser-body .ser-card2 .ser-desc{
  position: relative;
  height: 135px;
  width: 100%;
  color: black;
  padding-top: 65px;
  text-align: center;
}
.services-container .ser-body .ser-card1 .ser-desc a h4{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: 700; 
  color: #0D96DA;
  padding: 5px;
  justify-content: space-between;
}
.services-container .ser-body .ser-card1 .ser-desc  a p{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding:  45px 5px 5px 5px;
  color: #0D96DA;
  justify-content: space-between;
}
.services-container .ser-body .ser-card2 .ser-desc a{
  text-align: center;
  align-items: center;
}
.services-container .ser-body .ser-card2 .ser-desc a>.img{
  position: absolute;
  width: 200px;
  height: 100px;
  transition: 0.3s;
}
.services-container .ser-body .ser-card2 .ser-desc .youtube{
  width: 20%;
  margin-left: 5%;
}
.services-container .ser-body .ser-card2 .ser-desc .youtube iframe{
  height: 100px;
}

.services-container .ser-body .ser-card2 .ser-icon,
.services-container .ser-body .ser-card1 .ser-desc{
  animation-name: description;
  animation-duration: 1s;
}
@keyframes description{
  from  { left:500px;}
  to  {left:0;}
}
.services-container .ser-body .ser-card1 .ser-icon,
.services-container .ser-body .ser-card2 .ser-desc{
  animation-name: example;
  animation-duration: 1s;
}
@keyframes example {
  from  { right:500px;}
  to  {right:0;}
}

/* team */
.team{
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: white;
  z-index: 0;
}
.team-container{
  padding: 20px;
}

.team-container .t-name{
  padding: 20px;
  text-align: center;
}
.team-container .t-name>div{
  font-size: 30px;
  font-weight: 700;
  color: black;
}
.team-container .t-name .hr{
  width: 30%;
  margin-left: 35%;
}
.team-container .t-name .hr>hr{
  border: 1px solid #00AFEF;
  transform: scaleX(0);  
  transition: transform 1s ease-in-out;
}
.team-container:hover .t-name .hr>hr{
  transform: scaleX(1);  
} 
.team-container .team-photo{
  width: 100%;
  padding-bottom: 10px;
}
.team-container .team-photo .photo-container{
  padding: 70px;
  background-color: #eefcfd;
}
.team-container .team-photo .photo-container .image{
  width: 60%;
  margin-left: 20%;
  height: 550px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(135, 224, 240);
}
.team-container .team-body{
  margin: 20px;
  display: flex;
  flex-flow: row nowrap;
}
.team-container .team-body .card{
  width: 100%;
}
.team-container .team-body .card-1{
  margin: 5%;
  background-color: white;
  z-index: 1;
  transition: 0.5s;
}
.team-container .team-body .card-1:hover{
  box-shadow: 1px 1px 15px rgb(147, 222, 245);
}
.team-container .team-body .card-1 .card-img{
  position: relative;
  height: 80px;
  width: 100%;
  padding-top:25px ;
}
.team-container .team-body .card-1 .card-img>img{
  margin-left: 25px;
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 100%;
}
.team-container .team-body .card .desc{
  z-index: 1;
  height: 150px;
  padding: 50px 10px 10px 10px ;
  background-color: #b8dbf3;
  box-shadow: 1px 1px 5px rgb(202, 234, 243);
  display: flex;
  flex-flow: row nowrap;
}
.team-container .team-body .card .desc .desc1{
  width: 70%;
}
.team-container .team-body .card .desc .desc1 .f-name{
  font-size: 25px;
  font-weight: 700;
  padding: 35px 5px 5px 5px;
  color: black;
}
.team-container .team-body .card .desc .desc1 .founder{
  font-size: 15px;
  padding: 10px 0px 0px 5px;
  font-weight: 500;
  color: rgb(68, 68, 68);
}
.team-container .team-body .card .desc .social-media{
  width: 30%;
  text-align: center;
} 
.team-container .team-body .card .desc .social-media>div{
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #068da5;
  margin-left: 30px;
}
.team-container .team-body .card .desc .social-media div a>.fa{
  font-size: 18px;
  color: white;
  padding: 12px;
  transition: 0.5s ;
}



/* contact */
.contact{
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: white;
  padding-bottom: 300px;
}
.contact-container{
  padding: 5px;
}
.contact-container .map{
  position: relative;
  width: 100%;
}
.contact-container .contact-body{
  position: absolute;
  background-color: white;
  width: 70%;
  margin-left: 15%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgb(91, 188, 223);
  top: 35%;
}
 .contact-container .contact-body .main-container{
  display: flex;
}
.contact-body .main-container .sub-container{
  padding: 10px;
  margin: 10px;
  flex-flow: row;
}
.contact-body .main-container .container-group1{
  border-right: 1px solid rgb(188, 211, 220);
  width: 60%;
}
.contact-body .main-container .sub-container>.contact-head-name{
  font-size: 24px;
  font-weight: 600;
}
.contact-body .main-container .sub-container .sub-container-body{
  position: relative;
}
.contact-body .main-container .sub-container .sub-container-body .c-body{
  width: 100%;
}
.sub-container .sub-container-body .c-body .b-input{
  padding: 1px;
}
.sub-container .sub-container-body .c-body .b-input>.input{
  width: 80%;
  height: 20px;
  padding:10px;
  margin: 10px;
  border-radius: 40px;
  border: 1px solid gainsboro;
}
.sub-container .sub-container-body .c-body .b-input>.input:hover,
.sub-container .sub-container-body .c-body .b-input>.input:focus{
  box-shadow: 1px 1px 10px gainsboro;
}
.sub-container .sub-container-body .c-button{
  padding:10px ;
  margin-top: 10px;
}
.sub-container .sub-container-body .c-button .c-button-container{
  width: 100%;
  text-align: start;
}
.sub-container .sub-container-body .c-button .c-button-container>a{
  text-decoration: none;
  padding: 10px 50px;
  background-color: #068da5;
  color: white;
  border-radius: 30px;
}
.sub-container .sub-container-body .c-button .c-button-container>a:hover{
  background-color: #068da5;
  box-shadow: 1px 1px 10px rgb(96, 190, 240);
}
.sub-container .sub-container-body .c-body{
  display: flex;
  padding-top: 10px;
}
.sub-container .sub-container-body .c-body .c-icon{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #068da5;
  margin: 5px;
  text-align: center;
}
.sub-container .sub-container-body .c-body .c-icon .fa{
  padding: 15px 0px 0px 0px;
  color: white;
}
.sub-container .sub-container-body .c-body .c-desc{
  padding: 5px;
}
.sub-container .sub-container-body .c-body .c-desc h3{
  padding-bottom: 5px;
}
.sub-container .sub-container-body .c-body .c-desc p{
  color: gray;
} 

/* login */
.home .login-container .btns{
  padding: 30px;
}
.home .login-container .btns .btns1{
  padding-top:120px;
  padding-bottom: 70px ;
  padding-left: 20px;
  display: flex;
  flex-flow: row nowrap;
}
.home .login-container .btns .btns1 .button-container{
  margin: 10px;
}
.home .login-container .btns .btns1 .button-container .button{
  background-color: #068da5;
  padding: 15px 80px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gainsboro;
  letter-spacing: 1px;
  font-family:Arial, Helvetica, sans-serif;
}
.home .login-container .btns .btns1 .button-container .button:hover{
  box-shadow: 5px 5px 10px gainsboro;
}
/* partners */
.partners{
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: 0;
  background: linear-gradient(45deg, rgb(253, 254, 255) 50%, rgb(208, 227, 247) 50%);

}
.partners .p-container{
  padding: 5px;
}
.partners .p-container .mentor,
.partners .p-container .fund{
  padding: 50px;
  overflow: hidden;
}
.partners .p-container .mentor .m-container{
  width: 100%;
  /* background: linear-gradient(45deg, rgb(207, 230, 255) 50%, rgb(239, 241, 242) 50%); */
}
.partners .p-container .fund .f-container{
  width: 100%;
  /* background: linear-gradient(45deg, rgb(239, 241, 242) 50%, rgb(208, 227, 247) 50%); */
}
.partners .p-container .mentor .m-container .m-head,
.partners .p-container .fund .f-container .f-head{
  text-align: center;
  padding: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgb(106, 181, 221);
  margin-bottom: 20px;
}
.partners .p-container .mentor .m-container .m-head h3,
.partners .p-container .fund .f-container .f-head h3{
  font-size: 35px;
  font-weight: 700;
  font-family:'Times New Roman', Times, serif;
  color: #1587CE;
}
.partners .p-container .mentor .m-container .m-body,
.partners .p-container .fund .f-container .f-body{
  width: 100%;
}
.partners .p-container .mentor .m-container .m-body .owl-carousel,
.partners .p-container .fund .f-container .f-body .owl-carousel{
  overflow: hidden;
  z-index: 0;
}
.partners .p-container .mentor .m-container .m-body .m-card,
.partners .p-container .fund .f-container .f-body .f-card{
  width: 90%;
  margin-left: 5%;
  text-align: center;
  height: 300px;
  margin-bottom: 20px;
}
.partners .p-container .mentor .m-container .m-body .m-card:hover,
.partners .p-container .fund .f-container .f-body .f-card:hover{
  box-shadow: 0px 0px 5px rgb(144, 191, 218);
}
.partners .p-container .mentor .m-container .m-body .m-card .m-logo,
.partners .p-container .fund .f-container .f-body .f-card .f-logo{
  padding: 40px;
  height: 100px;
}
.partners .p-container .mentor .m-container .m-body .m-card .m-logo>img,
.partners .p-container .fund .f-container .f-body .f-card .f-logo>img{
  /* width: 150px; */
  display: block;
  margin: 0 auto;
}
.partners .p-container .fund .f-container .f-body .f-card .f-name{
  padding-top:20px;
}
.partners .p-container .mentor .m-container .m-body .m-card .m-name h4,
.partners .p-container .fund .f-container .f-body .f-card .f-name h4{
  font-size: 20px;
  color: #1a1c20;
}
.partners .p-container .mentor .m-container .m-body .m-card:hover .m-name h4,
.partners .p-container .fund .f-container .f-body .f-card:hover .f-name h4{
  color: #2965dd;
}
.partners .p-container .mentor .m-container .m-body .m-card .m-logo>.ktech{
  height:60px;
  width:160px;
}
.partners .p-container .mentor .m-container .m-body .m-card .m-logo>.ccamp{
  height:90px;
  width:170px;
}
.partners .p-container .mentor .m-container .m-body .m-card .m-logo>.deptA{
  height:90px;
  width:110px;
}
.partners .p-container .fund .f-container .f-body .f-card .f-logo>.startup{
  height:170px;
  width:240px;
}
.partners .p-container .fund .f-container .f-body .f-card .f-logo>.birac{
  height:120px;
  width:140px;
}